container_commands:
  01_install_dependencies:
    command: |
      sudo yum update -y
      sudo yum install -y ruby wget
  02_install_codedeploy_agent:
    command: |
      cd /home/ec2-user
      wget https://aws-codedeploy-us-east-1.s3.amazonaws.com/latest/install
      sudo chmod +x ./install
      sudo ./install auto
  03_start_codedeploy_agent:
    command: |
      sudo service codedeploy-agent start